/* Hace que al añadir margin o padding a los elementos
no crezcan más allá del borde de su contenedor*/
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
}

body {
    /* Cambio de estilo de letra*/
    font-family: 'Roboto', sans-serif;
    /* Quitamos el borde por defecto*/
    margin: 0px;
}

/* Cambiamos el tamaño de las letras */
h1 {
    font-size: 36px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 20px;
}

p {
    font-size: 14px;
}

/* Modificamos el estilo de las listas desordenadas
quitando los puntos que vienen por defecto*/
.lista-caracteristicas {
    padding-left: 12px;
}
ul .menu-caracteristicas{
    list-style: circle outside url(img/circulo-cromatico.png);
    padding-left: 24px;   
}

li {
    font-size: 18px;
    padding-bottom: 8px;
}

button {
    font-size: 22px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 6px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
    color: white;
    background-color: rgb(108, 38, 164, 0.88);
}

button:hover {
    background-color: rgb(102, 32, 166);
}


header {
    background-color: rgb(182, 136, 244);
}

.container {
    max-width: 98%;
    margin: auto;
}

.color-preferente {
    color: rgb(138, 43, 226);
}
/* Hasta aquí los esilos generales */

/* Barra de navegación */
header .container-logo .logo {
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: blueviolet;
    font-size: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .container nav ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding-bottom: 12px;
    padding-top: 12px;
    margin: 0;
    list-style: none;
}

header .container nav ul li {
    float: left;
}

header .container nav ul li a{
    text-decoration: none;
    font-size: 22px;
    padding: 0;
    font-weight: bold;
    color: #fff;
}

header .container nav ul li a:hover {
    color: blueviolet;
    text-transform: capitalize;
    transition: .8s ease-in-out;
}

/* Fin Barra de navegación */
#hero {
    display: flex;
    align -items: center;
    justify -content: center;
    text -align: center;
    flex -direction: column;
    height: 90vh;
    background -image: linear -gradient (0deg,
            rgb (0,
                0,
                0, 0.5),
            rgb (0,
                0,
                0, 0.5)), url (media/hero.jpg);
    background -repeat: no -repeat;
    background -size: cover;
    background -position: center center;
}

#hero h1 {
    color: white;
}

#hero button {
    font -size: 1.75em;
}

#somos -Bejob .container {
    text -align: center;
    padding: 200px 12px;
}

#nuestros -programas {
    background -color: rgb (30, 30, 30);
    color: white;
    text -align: center;
}

#nuestros -programas .container {
    padding: 150px 12px;
}

#nuestros -programas h2 {
    margin -top:
        0;
    font -size: 3.2em;
}

#nuestros -programas p {}

#nuestros -programas .cursos {
    background -position: center center;
    background -size: cover;
    padding: 50px 0px;
    margin: 30px;
    border -radius: 15px;
}

.cursos:first -child {
    background -image: linear -gradient (0deg,
            rgb (0,
                0,
                0, 0.6),
            rgb (0,
                0,
                0, 0.6)), url (media/front -end.jpg);
}

.cursos:nth -child (2) {
    background -image: linear -gradient (0deg,
            rgb (0,
                0,
                0, 0.5),
            rgb (0,
                0,
                0, 0.5)), url (media/full -stack.jpg);
}

.cursos:nth -child (3) {
    background -image: linear -gradient (0deg,
            rgb (0,
                0,
                0, 0.5),
            rgb (0,
                0,
                0, 0.5)), url (media/python.jpg);
}

#caracteristicas .container {
    text -align: center;
    padding: 250px 12px;
}

#caracteristicas li {
    margin: 16px 0px;
    font -weight: bold;
}

#final {
    display: flex;
    flex -direction: column;
    justify -content: center;
    align -items: center;
    text -align: center;
    background -color: rgb (30, 30, 30);
    color: white;
    height: 80vh;
}

#final h2 {
    font -size: 9vw;
}

#final button {
    font -size: 5vw;
}

footer {
    background -color: rgb (230, 230, 230);
}

footer p {
    margin:
        0;
    padding: 12px;
    color: rgb (100, 100, 100);
}

footer .container {
    height: 150px;
    display: flex;
    justify -content: center;
    align -items: flex -end;
}

@media (min -width: 850px) {
    header {
        position: fixed;
        width: 100%;
    }

    header .container {
        flex -direction: row;
        justify -content: space -between;
    }

    header nav {
        flex -direction: row;
        padding -bottom:
            0;
        padding -right: 30px;
    }

    #hero h1 {
        font-size: 5em;
    }

    #somos-Bejob .container {
        display: flex;
        justify-content: space-evenly;
    }

    #somos-Bejob .texto {
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #somos-Bejob h2 {
        margin-top: 0px;
    }

    #somos-Bejob .img-container {
        background-image: url(media/somos-Bejob.jpg);
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px;
    }

    #nuestros-programas .programas {
        display: flex;
        justify-content: center;
    }

    #nuestros-programas p {
        display: block;
        margin-bottom: 30px;
    }

    #nuestros-programas h2 {
        font-size: 4em;
    }

    #nuestros-programas h3 {
        margin-top: 0;
    }

    #nuestros-programas .cursos {
        padding: 50px;
    }

    /* Posible cambio en caso de tener imágenes de distinta
        resolución. Baja resolucion para <850. ALta resolucion >850px
        .cursos:first-child{
        background-image: linear-gradient(
        0deg,
        rgb(0, 0, 0, 0.5),
        rgb(0, 0, 0, 0.5)
        )
        ,url(media/front-end-cropped.jpg);
        }
        .cursos:nth-child(2){
        background-image: linear-gradient(
        0deg,
        rgb(0, 0, 0, 0.5),
        rgb(0, 0, 0, 0.5)
        )
        ,url(media/full-stack-cropped.jpg);
        }
        .cursos:nth-child(3){
        background-image: linear-gradient(
        0deg,
        rgb(0, 0, 0, 0.5),
        rgb(0, 0, 0, 0.5)
        )
        ,url(media/python-cropped.jpg);
        }
        */
    footer .container {
        justify-content: flex-end;
    }

    #final h2 {
        font-size: 5em;
    }

    #final button {
        font-size: 2em;
    }
}

@media (min-width: 1200px) {
    #caracteristicas {
        background-position-x: calc(100vw - 800px);
    }
}